<!-- <div class="container">
    <select class="form-control" (click)="sendMessage()" [(ngModel)]="itemName">
    <option *ngFor="let item of products">
      {{item}}
    </option>
  </select>
</div> -->
<!-- 
<div class="container">
    <div class="row-7 bg-light">
        <div class="col">
            <select class="form-control" (click)="onClick()" [(ngModel)]="CategoryName">
              <option value="">Category</option>
              <option *ngFor="let catName of categorys">
                {{catName}}
              </option>
            </select>
        </div>

    </div>

</div> -->

<div class="container">
    <h4>Options</h4>
    <hr>
    <div class="row-7-xs bg-light">
        <h5>Category</h5>
        <div class="col">
            <div *ngFor="let checkbox of categorys;let i=index;">
                <input type="checkbox" name="checkBox" id="checkbox{{i}}" [(ngModel)]="checkbox.value" (change)="filter()">
                <label for="checkbox{{i}}">{{checkbox.name}}</label>
            </div>
        </div>

    </div>
    <hr>
    <h5>Price Range</h5>
    <div class="row">
        <div class="col-2">
            Min:
        </div>
        <div class="col-8">
            <input class="form-control" type="text" [(ngModel)]="price[0]">
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            Max:
        </div>
        <div class="col-8">
            <input class="form-control" type="text" (focusout)="filter()" [(ngModel)]="price[1]">
        </div>
    </div>

</div>